.chat-pan{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.chat-header{
    width: 100%;
    height: 80px;
    min-height: 80px;
}
.chat-header .user-profile{
    height: 100%;
    line-height: 60px;
    padding: 10px 30px;
    font-size: 40px;
    color: white;
}
.chat-menu{
    width: 100%;
    height: 50px;
    min-height: 50px;
    border: 1px solid #dfdfdf;
}
.chat-container{
    height: calc(100vh - 80px);
    width: 100%;
}

.chat-container .users, .chat-container .tabs, .chat-container .chat-pan{
    height: 100%;
    max-height: 100%;
    float: left;
    background-color: white;
} 
.chat-container .chat-pan{
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
@media screen and (min-width: 62em){
    .chat-container .tabs{
        width: 25vw;
    }
    
    .chat-container .users{
        width: 20vw;
    }

    .chat-container .chat-pan{
        width: 55vw;
    }
    .toggle-show{
        display: none;
    }
}
.chat-container .chat-pan .chat{
    width: 100%;
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    border-bottom: 1px solid #dfdfdf;
    float: left;
}

.chat-container .chat-pan .send{
    width: 100%;
    height: 70px;
    max-height: 70px;
    border-bottom: 1px solid #dfdfdf;
    float: left;
}

.dismiss{
    color: gray;
    width: 20px;
    cursor: pointer;
    text-align: center;
    z-index: 9999;
}
.dismiss:hover{
    color: #0070f3;
}

.tabs .user-search{
    height: 10px;
    width: 100%;
}
.male span.name, .male .name-ag{
    color:#0070f3;
}
.female span.name, .female .name-ag{
    color:#ce00f3;
}
.admin .state{
    background-color: rgb(255, 136, 0);
}
.logged-in .state{
    background-color: #0070f3;
}
.logged-out .state{
    background-color: #646f79;
}
.tabs .roommate-list{
    width: 100%;
    height: calc(100% - 10px);
    overflow-y: auto;
}
.tabs .roommate-list .roommate-list-item, .who-with-chat .who-item{
    height: 64px;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}
.tabs .roommate-list .roommate-list-item:hover, .who-with-chat .who-item:hover{
    background-color: #e2edfb;
}
.tabs .roommate-list .roommate-list-item.active{
    padding-right: 4px;
    border-right: 4px solid #0070f3;
    background-color: #e2edfb;
}
.tabs .roommate-list .roommate-list-item:first-child{
    border-top: 1px solid #dfdfdf;
}
.tabs .roommate-list  .roommate-list-item .state, .tabs .roommate-list-item .content
, .who-with-chat .who-item .state, .who-with-chat .who-item .content{
    float: left;
}
.tabs .roommate-list  .roommate-list-item .state,  .who-with-chat .who-item .state{
    width: 47px;
    height: 47px;
    border-radius: 50px;
    background-image: url(../icons/user.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center center;
}
.tabs .roommate-list  .roommate-list-item .content, .who-with-chat .who-item .content{
    width: calc(100% - 47px);
    height: 47px;
}

.tabs .roommate-list .roommate-list-item .content div.name, .who-with-chat .who-item .content div.name{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 4px;
}
.tabs .roommate-list .roommate-list-item .content span.name, .who-with-chat .who-item .content span.name{
    white-space: nowrap; 
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabs .roommate-list .roommate-list-item .content .last-message, .who-with-chat .who-item .content .last-message{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    padding-left: 4px;
    color: gray;
}
.tabs .roommate-list .roommate-list-item .content .last-message .last-message-content
, .who-with-chat .who-item .content .last-message .last-message-content{
    white-space: nowrap; 
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs .roommate-list .roommate-list-item .content .last-message .new-message-count
, .who-with-chat .who-item .content .last-message .new-message-count{
    margin-right: 6px;
}

.chat .chat-list{
    max-height: 100%;
    overflow-y: auto;
}
.chat-list .chat-item{
    max-width: 100%;
    margin: 15px;

}

.chat-list .chat-item .name-time{
    text-align: left;
}
.chat-list .chat-item .name-time{
    font-size: 12px;
    color: gray;
}
.chat-list .chat-item.other-user .name-time{
    text-align: left;
    padding-left: 10px;
}

.chat-list .chat-item.your-message .name-time{
    text-align: right;
    padding-right: 10px;
}

.chat-list .chat-item .message{
    padding:8px 16px;
    line-height: 18px;
    font-size: 14px;
    word-wrap: break-word;
}
.chat-list .chat-item.other-user .message{
    margin-right: 30%;
    background-color: #d6e9ff;
    border-radius: 0 8px 8px 8px;
}

.chat-list .chat-item.your-message .message{
    margin-left: 30%;
    background-color: #a9d1ff;
    border-radius: 8px 0 8px 8px;
}
roommate
.send .message-sender{
    margin: 8px;
}
.form-control:focus{
  box-shadow: none;
}
.users .room-user-list{
    height: calc(100% - 178px);
    max-height: calc(100% - 178px);
    overflow-y: auto;
}
.users .room-user-list .list-group-item{
    padding:8px;
    font-size: 16px;
}

.users .room-user-list .list-group-item:hover{
    cursor: pointer;
    background-color: #e2edfb;
}
.users .room-user-list .list-group-item .name-ag{
    white-space: nowrap; 
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.users .room-user-list .list-group-item .state{
    line-height: 17px;
}
.users .list-group .list-group-item:last-child{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.users .list-group .list-group-item.active{
    background-color: #e2edfb;
    color: black;
    border-color: rgba(0,0,0,.125);
}
.users .who-with-chat{
    height: 130px;
    border-top: 1px solid rgba(0,0,0,.125);
}

.loader-container{
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,.05);
    position: relative;
}
.loader-container .loader {
    border: 10px solid #dfdfdf;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    border-left: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.hidden{
    display: none;
}

.toggle-show{
    position: absolute;
    width: 25px;
    height: 60px;
    top: calc(50% - 60px);
    background-size: 25px 60px;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    cursor: pointer;
    z-index: 9999;
}

@media screen and (max-width: 62em){
    .chat-container{
        position: relative;
    }
    .chat-container .users{
        position: absolute;
        top: 0;
        left: 100vw;
        width:35vw;
    }
    .chat-container .users .toggle-show{
        left: -25px;
        display: block;
        background-image: url('../images/left.png');
    }
    .chat-container .users.show{
        left: 65vw;
        border-left: 1px solid #dfdfdf;
        z-index: 5;
    }
    .chat-container .users.show .toggle-show{
        background-image: url('../images/right.png');
        left: 0;
    }
    .chat-container .chat-pan{
        width: 70vw;
        position: absolute;
        top: 0;
        left: 30vw;
    }
    .chat-container .tabs{
        position: absolute;
        width: 30vw;
        top: 0;
        left: 0;
    }
    .chat-container .tabs .toggle-show{
        display: none;
    }
}
@media screen and (max-width: 48em){
    .chat-container{
        position: relative;
    }
    .chat-container .users{
        position: absolute;
        top: 0;
        left: 100vw;
        width:50vw;
    }
    .chat-container .users .toggle-show{
        left: -25px;
        display: block;
        background-image: url('../images/left.png');
    }
    .chat-container .users.show{
        left: 50vw;
        border-left: 1px solid #dfdfdf;
        z-index: 5;
    }
    .chat-container .users.show .toggle-show{
        background-image: url('../images/right.png');
    }
    .chat-container .chat-pan{
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    .chat-container .tabs{
        position: absolute;
        width: 50vw;
        top: 0;
        left: -50vw;
    }
    .chat-container .tabs .toggle-show{
        left: 100%;
        display: block;
        background-image: url(../images/right.png);
    }
    .chat-container .tabs.show{
        border-right: 1px solid #dfdfdf;
        left: 0;
        z-index: 5;
    }
    .chat-container .tabs.show .toggle-show{
        left: calc(100% - 25px);
        background-image: url(../images/left.png);
    }
}